#root {
  background: url('/assets/images/bg-main.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#top {
    background-color: rgba(0, 0, 0, .60);
    box-shadow: 0 10px 14px rgba(0, 0, 0, .23);
    color: #bebebe;
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem;
}

#top #turn {
    margin-left: auto;
}

#players{
    display: grid;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}