.player{
    display: grid;
    overflow: hidden;
    position: absolute;
    width:100%;
}

.player:nth-child(odd){
    justify-self: grid-start;
}

.player:nth-child(even){
    align-self: grid-end;
}

.player:nth-child(3n+1){
    align-self: center;
    right: -150px;
    transform: rotate(-90deg);
}

.player:nth-child(4n+1){
    justify-self: grid-start;
    left:-150px;
    transform: rotate(90deg);
}

.player-select {
    background: rgba(2, 2, 2, 0.60);
}