:root {
    /* Variables para los colores y las dimensiones de la carta */
    --verde: #3E9E32;
    --amarilla: #DED71F;
    --azul: #3F4CFF;
    --roja: #C11F1F;
    --width: 200px;
    --height: 320px;
    --borde-numero: #dad6d6;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.contenedor-cartas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.carta {
    width: var(--width);   
    height: var(--height);
    box-shadow: 3px 3px 6px 0 #c2bcc2;
    margin-left: 1em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Dibuja el valor de data-value en la esquina superior izquierda */
.carta:before {
    content: attr(data-value);
    position: absolute;
    font-size: 40px;
    color: white;
    font-weight: 800;
    top: 8px;
    left: 20px;
}


/* Dibuja el valor de data-value en la esquina inferior derecha y lo rota 180 grados */
.carta:after {
    content: attr(data-value);
    position: absolute;
    font-size: 40px;
    color: white;
    font-weight: 800;
    bottom: 8px;
    right: 20px;
    transform: rotate(180deg);
    /* -webkit-text-stroke: 0.5px var(--borde-numero); */
}

.carta:not(.amarilla):before {
    -webkit-text-stroke: 0.5px var(--borde-numero);
    -webkit-text-fill-color: white;
}
.carta:not(.amarilla):after {
    -webkit-text-stroke: 0.5px var(--borde-numero);
    -webkit-text-fill-color: white;
}
.carta.italic {
    font-style: italic;
}
.carta.masgrande {
    font-size: 48px !important;
}
.carta.maschica {
    font-size: 32px !important;
}

/* Dibuja una elipse blanca dentro de la carta */
.ellipse {
    background-color: white;
    margin: auto;
    width: calc( var(--width) * 0.79);
    height: calc( var(--width) * 1.29);
    position: relative;
    border-radius: 50%;
    transform: skewX(-25deg);
}


/* Dibuja el valor de data-value centrado en la ellipse */
.ellipse:after {
    position: absolute;
    left: 22%;
    top: 22%;
    font-weight: 500;
    transform: skewX(25deg);
    content: attr(data-value);
    color: inherit;
}

.ellipse.normal:after {
    font-size: calc( calc( var(--height) / 3) * 1.2);
}
.ellipse.maschica:after {
    left: 10% !important;
    font-size: calc( calc( var(--height) / 3.8) * 1.2);
}
.ellipse.masgrande:after {
    left: 15% !important;
    top: 10% !important;
    font-size: calc( calc( var(--height) / 2.8) * 1.2);
}

/* Colores para cada carta, usando las variables y valores por defecto */
.carta.verde {
    background-color: var(--verde, green);
    color: var(--verde, green);
}

.carta.amarilla {
    background-color: var(--amarilla, yellow);
    color: var(--amarilla, yellow);
}

.carta.azul {
    background-color: var(--azul, blue);
    color: var(--azul, blue);
}

.carta.roja {
    background-color: var(--roja, red);
    color: var(--roja, red);
}