.chat-bubble {
  background-color: #181818;
  color: #ffff;
  border-radius: 3px;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.rnx-chat-bubble-timestamp {
  font-size: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: end;
}

.rnx-chat-bubble-username {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.chat-runox-icon {
  background-color: #ccc;
  padding: 10px;
  max-width: calc(100% - 60px);
  border-radius: 18px;
}

.rnx-chat-bubble-delete{
  padding-left: 10px;
}