.rnx-card {
  background: rgba(24, 24, 24, 0.82);
  border-radius: 8px;
  color: #f2f2f2;
  overflow: hidden;
}

.rnx-card__header {
  padding: 2.5rem;
  text-align: center;
}

.rnx-card__footer {
  padding: 2.5rem;
  text-align: center;
}

.rnx-card__header:empty,
.rnx-card__footer:empty {
  display: none;
}

.rnx-card__content {
  background-color: #181818;
  padding: 2.5rem;
}
