.header{
  padding: 1rem 1rem 1rem 3rem ;
}

.main_players {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 8px;
  max-height: 480px;
  overflow: auto;
}

.main_players::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.main_players::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}
.main_players::-webkit-scrollbar-track {
  background: #1A1812;
}

.footer {
  width: 80%;
  max-height: 470px;
  margin-left: 3rem;
}
