.rnx-button {
  background-color: #983128;
  border: 5px solid rgba(0, 0, 0, 0.42);
  border-radius: 26px;
  box-sizing: border-box;
  color: #FFCFCB;
  font-size: 22px;
  font-weight: 700;
  padding: .98rem 3rem;
  transition: .12s ease-in-out all;
  outline: none;
}

.rnx-button:hover {
  transform: scale(1.082);
}

.rnx-button:active {
  transform: scale(0.94);
}

.rnx-button.rnx-button-uno-rounded {
  border-radius: 50%;
  border-width: 6px;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.32);
  border-color: #FFF;
  font-size: 16px;
  height: 110px;
  position: absolute;
  right: 3rem;
  bottom: 1rem;
  width: 110px;
  padding: 0;
  z-index: 100;
}
